<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Time-Table</display-name>
  <welcome-file-list>
    <welcome-file>uploadImage1.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CourseMasterServlet</display-name>
    <servlet-name>CourseMasterServlet</servlet-name>
    <servlet-class>com.timetable.servlet.CourseMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseMasterServlet</servlet-name>
    <url-pattern>/CourseMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyMasterServlet</display-name>
    <servlet-name>FacultyMasterServlet</servlet-name>
    <servlet-class>com.timetable.servlet.FacultyMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyMasterServlet</servlet-name>
    <url-pattern>/FacultyMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectMasterServlet</display-name>
    <servlet-name>SubjectMasterServlet</servlet-name>
    <servlet-class>com.timetable.servlet.SubjectMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectMasterServlet</servlet-name>
    <url-pattern>/SubjectMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginMasterServlet</display-name>
    <servlet-name>LoginMasterServlet</servlet-name>
    <servlet-class>com.timetable.servlet.LoginMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMasterServlet</servlet-name>
    <url-pattern>/LoginMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountryServlet</display-name>
    <servlet-name>CountryServlet</servlet-name>
    <servlet-class>com.timetable.servlet.CountryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountryServlet</servlet-name>
    <url-pattern>/CountryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMasterServlet</display-name>
    <servlet-name>AdminMasterServlet</servlet-name>
    <servlet-class>com.timetable.servlet.AdminMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMasterServlet</servlet-name>
    <url-pattern>/AdminMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDataForAdmin</display-name>
    <servlet-name>LoginDataForAdmin</servlet-name>
    <servlet-class>com.timetable.servlet.LoginDataForAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDataForAdmin</servlet-name>
    <url-pattern>/LoginDataForAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseManagementSummaryServlet</display-name>
    <servlet-name>CourseManagementSummaryServlet</servlet-name>
    <servlet-class>com.timetable.servlet.CourseManagementSummaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseManagementSummaryServlet</servlet-name>
    <url-pattern>/CourseManagementSummaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDataForFaculty</display-name>
    <servlet-name>LoginDataForFaculty</servlet-name>
    <servlet-class>com.timetable.servlet.LoginDataForFaculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDataForFaculty</servlet-name>
    <url-pattern>/LoginDataForFaculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeTableMasterServlet</display-name>
    <servlet-name>TimeTableMasterServlet</servlet-name>
    <servlet-class>com.timetable.servlet.TimeTableMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTableMasterServlet</servlet-name>
    <url-pattern>/TimeTableMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUploadServlet</display-name>
    <servlet-name>ImageUploadServlet</servlet-name>
    <servlet-class>com.timetable.servlet.ImageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadServlet</servlet-name>
    <url-pattern>/ImageUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailFromAdminServlet</display-name>
    <servlet-name>EmailFromAdminServlet</servlet-name>
    <servlet-class>com.timetable.servlet.EmailFromAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailFromAdminServlet</servlet-name>
    <url-pattern>/EmailFromAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationMasterServlet</display-name>
    <servlet-name>ApplicationMasterServlet</servlet-name>
    <servlet-class>com.timetable.servlet.ApplicationMasterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationMasterServlet</servlet-name>
    <url-pattern>/ApplicationMasterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeTableMappServlet</display-name>
    <servlet-name>TimeTableMappServlet</servlet-name>
    <servlet-class>com.timetable.servlet.TimeTableMappServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTableMappServlet</servlet-name>
    <url-pattern>/TimeTableMappServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.timetable.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>com.timetable.servlet.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/EmailServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>saurabh.mh251994@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>9702071213</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>GetAvailableTeachers</display-name>
    <servlet-name>GetAvailableTeachers</servlet-name>
    <servlet-class>com.timetable.servlet.GetAvailableTeachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAvailableTeachers</servlet-name>
    <url-pattern>/GetAvailableTeachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailFromFacultyServlet</display-name>
    <servlet-name>EmailFromFacultyServlet</servlet-name>
    <servlet-class>com.timetable.servlet.EmailFromFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailFromFacultyServlet</servlet-name>
    <url-pattern>/EmailFromFacultyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCourseIdForPrincipalServlet</display-name>
    <servlet-name>SetCourseIdForPrincipalServlet</servlet-name>
    <servlet-class>com.timetable.servlet.SetCourseIdForPrincipalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCourseIdForPrincipalServlet</servlet-name>
    <url-pattern>/SetCourseIdForPrincipalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateTimeTableServelet</display-name>
    <servlet-name>GenerateTimeTableServelet</servlet-name>
    <servlet-class>com.timetable.servlet.GenerateTimeTableServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateTimeTableServelet</servlet-name>
    <url-pattern>/GenerateTimeTableServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNextAndPreviousDatesServlet</display-name>
    <servlet-name>GetNextAndPreviousDatesServlet</servlet-name>
    <servlet-class>com.timetable.servlet.GetNextAndPreviousDatesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNextAndPreviousDatesServlet</servlet-name>
    <url-pattern>/GetNextAndPreviousDatesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestedForReplacement</display-name>
    <servlet-name>RequestedForReplacement</servlet-name>
    <servlet-class>com.timetable.servlet.RequestedForReplacement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestedForReplacement</servlet-name>
    <url-pattern>/RequestedForReplacement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refresh</display-name>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>com.timetable.servlet.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/Refresh</url-pattern>
  </servlet-mapping>
</web-app>